@import './variables.scss';

.table {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 100vw;
  width: 100%;
  min-height: 100%;
  background-color: gold;
  @include slideTransitioin;
  &_show {
    left: 0;
  }
}
