@import './variables.scss';

.tableWithEpisodes {
  margin-top: 20px;
  width: 100%;
  &__rowTitle {
    background-color: $mainYellow;
  }
  &__headerInTable {
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
  }
  &__td {
    text-align: center;
  }
  &__charText {
    margin-left: 20px;
  }
  &__charAndButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
  &__charButtons {
    display: flex;
    gap: 10px;
    @include stopSelection;
  }
  &__charButton {
    font-size: 1.2rem;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: $mainYellow;
    transition: all ease-in-out 0.2s;
    &:hover {
      cursor: pointer;
      background-color: darken($mainYellow, 10%);
    }
  }
  &__minusButton {
    padding-bottom: 4px;
  }
  &__delButton {
    color: white;
    padding-bottom: 4px;
    background-color: $mainRed;
    &:hover {
      background-color: darken($mainRed, 10%);
    }
  }
}
