@font-face {
  font-family: 'BreakingBad';
  src: url('../fonts/BreakingBad.otf');
}

@mixin slideTransitioin {
  transition: all ease-in-out 0.5s;
}

@mixin stopSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$mainYellow: gold;
$mainRed: rgb(198, 59, 59);
